@font-face {
    font-family: "pixelmon";
    src: url(upheavtt.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#c09d0d;
}
.bg{
    background-color: #6d5a41;
}
.color{
    color: #c2b619;
    font-size: 60px;
}
.jolteon{
    border-radius: 10%;
}
h1{
    text-align: center;
    font-family: "pixelmon";
}
h3{
    font-family: "pixelmon";
    text-align: center;
}
h5{
    font-family: "pixelmon";
}
p{
    font-family: "pixelmon";
    font-size: larger;
    text-align: center;
}
.container{
    background-color: #f8e70f;
}
.card{
    border-color: black;
}
.imagem{
    width: 348px;
    height: 231px;
}
.ff{
    font-family: "pixelmon";
    text-align: center;
}